In [1]:
import requests
from io import StringIO
import pandas as pd
import plotly.express as px
from DataPrepper import DataPrepperWasserportal, get_all_stations

In [12]:
base = "https://wasserportal.berlin.de/station.php?"
measurement = "td"
stationid = "5865900"
from_when = "21.01.2021"
dp = DataPrepperWasserportal(base)
fig = dp.get_daily_data(measurement, stationid, from_when)
fig["Tagesminimum"].to_numeric()

AttributeError: 'Series' object has no attribute 'to_numeric'

In [26]:
r =requests.get("https://api.openweathermap.org/data/2.5/weather?q=stockholm&appid=087ee414dd8c90c4abb99b25872c5680&units=metric")
j = r.json()
j

{'coord': {'lon': 18.0649, 'lat': 59.3326},
 'weather': [{'id': 601,
   'main': 'Snow',
   'description': 'snow',
   'icon': '13d'}],
 'base': 'stations',
 'main': {'temp': -0.01,
  'feels_like': -5.96,
  'temp_min': -0.56,
  'temp_max': 0.56,
  'pressure': 993,
  'humidity': 100},
 'visibility': 1000,
 'wind': {'speed': 5.66, 'deg': 300},
 'snow': {'1h': 0.42},
 'clouds': {'all': 90},
 'dt': 1611576350,
 'sys': {'type': 1,
  'id': 1788,
  'country': 'SE',
  'sunrise': 1611558772,
  'sunset': 1611586020},
 'timezone': 3600,
 'id': 2673730,
 'name': 'Stockholm',
 'cod': 200}

In [ ]:
df = pd.read_csv("station.csv", header=None, encoding="windows-1252")
df.rename(columns={0: "id", 1: "name"}, inplace=True)
df.drop_duplicates(inplace=True)
df

In [ ]:
l = []
for index, row in df.iterrows():
    l.append({"label": row["name"], "value": row.id})
l

In [ ]:
get_all_stations()

,id,name,2,3,4
0,5827103,Allendestraße,404795.21,5811909.21,"Wasserstand,Durchfluss"
1,5865300,Am Bahndamm,403271.12,5813053.06,"Wasserstand,Durchfluss,Wassertemperatur"
2,5819900,Am Freibad,386931.73,5831192.51,Wasserstand
3,5864801,Am Kienberg,404194.04,5821307.64,"Wasserstand,Durchfluss"
4,5861101,Am Reitweg,406469.15,5814072.15,Wasserstand
...,...,...,...,...,...
315,5800314,Weißer See,395805.17,5823636.09,Wasserstand
316,5861200,Wiesengrund,406342.52,5813564.61,"Wasserstand,Durchfluss,Wassertemperatur"
317,5867001,Wiltbergstraße,398145.45,5832796.70,Wasserstand
318,5864800,Wuhletal,403189.53,5818963.00,"Wasserstand,Durchfluss,Wassertemperatur"
319,5866301,Zoo,387247.69,5819111.30,"Wasserstand,Durchfluss"

In [10]:
l = []
for index, row in df.iterrows():
    l.append({"label": row["name"], "value": row.id})
l

[{'label': 'Allendestraße', 'value': 5827103},
 {'label': 'Am Bahndamm', 'value': 5865300},
 {'label': 'Am Freibad', 'value': 5819900},
 {'label': 'Am Kienberg', 'value': 5864801},
 {'label': 'Am Reitweg', 'value': 5861101},
 {'label': 'Am Wolfsschluchtkanal', 'value': 5800107},
 {'label': 'Biesdorfer Baggersee', 'value': 5800317},
 {'label': 'Bürgerpark', 'value': 5867401},
 {'label': 'Dianasee', 'value': 5800301},
 {'label': 'Dreipfuhl', 'value': 5800302},
 {'label': 'Eisenacher Straße', 'value': 5863000},
 {'label': 'Eisenbahnbrücke', 'value': 5867900},
 {'label': 'Fähre Rahnsdorf', 'value': 5827101},
 {'label': 'Fennpfuhl', 'value': 5800320},
 {'label': 'Fennsee', 'value': 5800313},
 {'label': 'Flaischlenstraße', 'value': 5867101},
 {'label': 'Flughafensee', 'value': 5800303},
 {'label': 'Gosener Landstraße', 'value': 5826702},
 {'label': 'Groß Glienicker See', 'value': 5800305},
 {'label': 'Grunewaldsee', 'value': 5800304},
 {'label': 'Halensee', 'value': 5800306},
 {'label': 'Hegemeisterweg', 'value': 5861000},
 {'label': 'Heinersdorf', 'value': 5867300},
 {'label': 'Hoppendorfer Straße', 'value': 5865200},
 {'label': 'Krontaler Straße', 'value': 5867100},
 {'label': 'Krummendammbrücke', 'value': 5869700},
 {'label': 'Kühnemannstraße', 'value': 5867500},
 {'label': 'Lichterfelde', 'value': 5870100},
 {'label': 'Lietzensee', 'value': 5800309},
 {'label': 'Lübars', 'value': 5819901},
 {'label': 'Malchower See', 'value': 5800318},
 {'label': 'MPS Berlin-Spandauer-Schifffahrtskanal', 'value': 601},
 {'label': 'MPS Caprivibrücke', 'value': 151},
 {'label': 'MPS Charlottenburg', 'value': 153},
 {'label': 'MPS Landwehrkanal', 'value': 509},
 {'label': 'MPS Neuköllner Schifffahrtskanal', 'value': 504},
 {'label': 'MPS Teltowkanal', 'value': 414},
 {'label': 'MS Mühlendammschleuse', 'value': 141},
 {'label': 'MS Rahnsdorf', 'value': 111},
 {'label': 'MS Schmöckwitz', 'value': 211},
 {'label': 'MS Sophienwerder', 'value': 161},
 {'label': 'MS Teltow-Werft', 'value': 421},
 {'label': 'Neue Fahlenbergbrücke', 'value': 5826701},
 {'label': 'Obersee', 'value': 5800315},
 {'label': 'Orankesee', 'value': 5800316},
 {'label': 'Pasewalker Brücke', 'value': 5867700},
 {'label': 'Pfaueninsel', 'value': 5803500},
 {'label': 'Plötzensee', 'value': 5800312},
 {'label': 'Röntgental', 'value': 5867000},
 {'label': 'Schäfersee', 'value': 5800106},
 {'label': 'Schleuse Neukölln OP', 'value': 5866700},
 {'label': 'Schleuse Neukölln UP', 'value': 5866800},
 {'label': 'Schmöckwitz US', 'value': 5862811},
 {'label': 'Sophienwerder', 'value': 5827700},
 {'label': 'St.-Joseph-Steg', 'value': 5820000},
 {'label': 'Tiefwerder', 'value': 5803200},
 {'label': 'Venturigerinne', 'value': 5867301},
 {'label': 'Verteiler OP', 'value': 5867201},
 {'label': 'Verteiler UP', 'value': 5867202},
 {'label': 'Waldsee Zehlendorf', 'value': 5800310},
 {'label': 'Weißer See', 'value': 5800314},
 {'label': 'Wiesengrund', 'value': 5861200},
 {'label': 'Wiltbergstraße', 'value': 5867001},
 {'label': 'Wuhletal', 'value': 5864800},
 {'label': 'Zoo', 'value': 5866301}]

In [2]:
get_all_stations()

[{'label': 0, 'value': 5827103},
 {'label': 1, 'value': 5865300},
 {'label': 2, 'value': 5819900},
 {'label': 3, 'value': 5864801},
 {'label': 4, 'value': 5861101},
 {'label': 5, 'value': 5800107},
 {'label': 6, 'value': 5800317},
 {'label': 7, 'value': 5867401},
 {'label': 8, 'value': 5800301},
 {'label': 9, 'value': 5800302},
 {'label': 10, 'value': 5863000},
 {'label': 11, 'value': 5867900},
 {'label': 12, 'value': 5827101},
 {'label': 13, 'value': 5800320},
 {'label': 14, 'value': 5800313},
 {'label': 15, 'value': 5867101},
 {'label': 16, 'value': 5800303},
 {'label': 17, 'value': 5826702},
 {'label': 18, 'value': 5800305},
 {'label': 19, 'value': 5800304},
 {'label': 20, 'value': 5800306},
 {'label': 276, 'value': 5861000},
 {'label': 277, 'value': 5867300},
 {'label': 278, 'value': 5865200},
 {'label': 279, 'value': 5867100},
 {'label': 280, 'value': 5869700},
 {'label': 281, 'value': 5867500},
 {'label': 282, 'value': 5870100},
 {'label': 283, 'value': 5800309},
 {'label': 284, 'value': 5819901},
 {'label': 285, 'value': 5800318},
 {'label': 286, 'value': 601},
 {'label': 287, 'value': 151},
 {'label': 288, 'value': 153},
 {'label': 289, 'value': 509},
 {'label': 290, 'value': 504},
 {'label': 291, 'value': 414},
 {'label': 292, 'value': 141},
 {'label': 293, 'value': 111},
 {'label': 294, 'value': 211},
 {'label': 295, 'value': 161},
 {'label': 296, 'value': 421},
 {'label': 297, 'value': 5826701},
 {'label': 298, 'value': 5800315},
 {'label': 299, 'value': 5800316},
 {'label': 300, 'value': 5867700},
 {'label': 301, 'value': 5803500},
 {'label': 302, 'value': 5800312},
 {'label': 303, 'value': 5867000},
 {'label': 304, 'value': 5800106},
 {'label': 305, 'value': 5866700},
 {'label': 306, 'value': 5866800},
 {'label': 307, 'value': 5862811},
 {'label': 308, 'value': 5827700},
 {'label': 309, 'value': 5820000},
 {'label': 310, 'value': 5803200},
 {'label': 311, 'value': 5867301},
 {'label': 312, 'value': 5867201},
 {'label': 313, 'value': 5867202},
 {'label': 314, 'value': 5800310},
 {'label': 315, 'value': 5800314},
 {'label': 316, 'value': 5861200},
 {'label': 317, 'value': 5867001},
 {'label': 318, 'value': 5864800},
 {'label': 319, 'value': 5866301}]